.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    color : #2bdde3(197, 118, 118);
}


.navbar button{
    background-color: transparent;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: lightgreen;
    font-size: 1.2rem;
    size: 1.2rem;
}

.navbar button:hover{
    box-shadow: #00c4cc 0px 0px 1px;
    size: 5rem;
}

.navbar h2{
    margin: 0;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar a{
    text-decoration: none;
    color: lightgreen;
    text-size-adjust:  5rem;
    font-weight: bold;
}

.navbar a:hover{
    color:#00c4cc;
}
